%h3
  = @blog.title

%p
  %strong<
    Title:
  = @entry.title
  %br
  %strong<
    Body:
  = @entry.body

= link_to 'Edit', edit_blog_entry_path(@blog, @entry)
|
= link_to 'Back', @blog

%border

%h2<
  Listing Comments

%table
  %thead
  %tbody
    - @comments.each do |comment|
      %tr
        %td
          - if comment.status == "approved"
            = comment.body
          - elsif comment.status == "unapproved"
            （承認待ち）
          - else
            ERROR:statusの値が異常です→
            = comment.status
        %td
          - if comment.status == "unapproved"
            =  link_to 'Approve', blog_entry_comment_approve_path(@blog, @entry, comment), method: :patch
        %td
          = link_to 'Destroy', blog_entry_comment_path(@blog, @entry, comment), method: :delete, data: { confirm: 'Are you sure?' }

%h2<
  New comment
= render 'comment_form', blog: @blog, entry: @entry
